<section class="lightSection clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="owl-carousel partnersLogoSlider">
          <% Dir.glob("app/assets/images/img/home/partners/*.png") do |image|%>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/#{File.basename(image)}", alt: "partner-img") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>