<li>
  <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy_<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
  <ul id="taxonomy_<%= taxonomy.id %>" class="collapse collapseItem">
    <% taxonomy.taxons.each do |taxon| %>
      <% if taxon.products.any? %>
        <li>
          <%= link_to potepan_category_path(taxon.id) do %>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <%= taxon.name %> <span>(<%= taxon.products.count %>)</span>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</li>